ffmpeg/
temp-files/
build/
temp/
__pycache__/
old/
.venv/
loader.log
bot_backup.py
bot.log
bot.session
bot.session-journal
telegram_bot_data.db
Drew.log
Drews.log
installer.exe
update_instructions.txt
help_preminification.html
funcs.py